lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
libs
node_modules
options
pages/cms.html
tasks
test

CONTRIBUTING.md
LICENSE
README.md

/.build
/.firebase.conf
